:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: arial, helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #ccc;
  line-height: 1.4;
  margin: 30px 10px;
}

img {
  max-width: 100%;
}

.nav-main ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.nav-main a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 1.1rem;
  box-shadow: var(--dark);
}

.nav-main a:hover {
  background-color: var(--dark);
  color: var(--light);
}
.banner {
  display: grid;
  grid-template-areas: 'bannermain';
  /* position: fixed; */

}
.bannermain {
  /* grid-area: 1 / 1 / span 1 / span 1; */
  grid-area: bannermain;
  min-height: 200px;
  background: url("https://sm.ign.com/t/ign_nordic/news/i/its-gonna-/its-gonna-be-easier-than-ever-to-play-dungeons-and-dragons_uqv8.h720.jpg");
  background-size: cover;
  background-position: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* display: block; */
  align-items: center;
  justify-content: center;
  /* justify-content: flex-start; */
  box-shadow: var(--shadow);
}
.bannermain h1 {
  display: block;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  /* border: 2px grey solid; */
  padding: 0.25rem 1rem;
}
.bannermain p {
  display: block;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  /* border: 2px grey solid; */
  padding: 0.25rem 1rem;
}
.nav-intro {
  /* border: 2px red solid; */
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 0px;
  min-height: 200px;
  background: url("https://skaldforge.files.wordpress.com/2019/08/adventures-in-icespire.jpg");
  background-size: cover;
  background-position: center;
  color: var(--primary);
  margin: 1rem 0;
}
.nav-intro h2 {
  /* border: 2px blue solid; */
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0,0,0,0.75);
  padding: 0.25rem 1rem;
  margin-bottom: 0;
  font-size: 2rem;
}
.nav-intro p {
  /* border: 2px green solid; */
  background-color: rgba(0,0,0,0.75);
  grid-area: 3 / 2 / 4 / 4;
  text-align: center;
  color: var(--primary);
  margin-top: 0
  }
.nav-intro a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
.box img {
  width: 25px;
  max-width: 50px;
}
footer {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
}
@media(max-width: 700px) {
  .bannermain h1 {
    font-size: 3rem;
  }
  .nav-main ul {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 500px) {
  .bannermain h1 {
    font-size: 1.5rem;
  }
  .nav-intro h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}
